[submodule "themes/dream"]
	path = themes/dream
	url = https://github.com/g1eny0ung/hugo-theme-dream
[submodule "themes/hugoplate"]
	path = themes/hugoplate
	url = https://github.com/zeon-studio/hugoplate
